/*@media screen and (min-width: 768px) and (max-width : 992px) {

@media screen and (min-width: 992px) and (max-width : 1200px) {

@media screen and (min-width: 1200px) {
*/
* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  max-width: 767px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*navbar*/

.container {
  background-color: #113537;
}

.icon {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.icon li, a {
  color: white;
  margin: 10px;
}

.gif {
  background-color: #FFFAFF;
}

.gif img {
  width: 680px;
  height: 310px;
  margin-top: 47px;
  margin-left: 47px;
  position: absolute;
}

.adress {
  background-color: #113537;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-top: 310px;
  position: relative;
  padding: 35px;
  width: 350px;
}

.adress h1, a {
  font-size: 22px;
}

.socials {
  background-color: #FFFAFF;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  color: #113537;
  margin: 30px;
  text-align: center;
}

.socials h2 {
  font-size: 35px;
  margin: 50px;
}

.socials a {
  color: #53131E;
  margin-bottom: 200px;
  font-size: 110px;
}

/*footer*/

.contact {
  background-color: #113537;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  padding: 30px;
  text-align: center;
}

.contact h3 {
  color: #53131E;
  font-size: 25px;
}

.contact a {
  font-size: 20px;
} 