/*@media screen and (min-width: 768px) and (max-width : 992px) {

@media screen and (min-width: 992px) and (max-width : 1200px) {

@media screen and (min-width: 1200px) {
*/
* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  max-width: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*navbar*/

.container {
  background-color: #113537;
}

.icon {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}
/*
.gif img {
  display: flex;
  justify-content: center;
  /*margin: 120px;
  width: 500px;
  height: 355px;
}*/



.contactpart {
  background-image: url(img/balise.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 40px;
  height: 470px;
}

.contactpart h1, a {
  color: white;
  font-size: 12px;
  line-height: 28px;
  animation: bounce; 
  animation-duration: 500ms;
}

.block {
  background-color: #113537;
  background-size: 100%;
  margin: 90px;
  padding: 20px;
  position: relative;
  top: 200px;
}

/*footer*/

