* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 767px;
}

/*body {
  display: flex;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*navbar*/

.container {
  background-color: #113537;
}

.icon {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.gif img {
  display: flex;
  justify-content: center;
  /*margin: 120px;
  width: 500px;
  height: 355px;
}*/
}

.block {
  background-color: #113537;
  padding: 30px;
  width: 250px;
  position: relative;
  left: 220px;
  top: 420px;
}

.contact h1, a {
  color: white;
  font-size: 16px;
  line-height: 28px;
}

/*footer*/

