* {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  max-width: auto;
}

/*navbar*/

.container {
  width: 1170px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

header {
  height: 70px;
  background: #113537;
  width: 100%;
  border-bottom: 1px solid black;
}

nav {
  float: left;
  line-height: 70px;
}

nav a {
  letter-spacing: 2px;
  text-decoration: none;
  font-family: serif;
  font-size: 16px;
  margin-left: 50px;
  color: white;
  display: block-inline;
}

nav:hover a {
  padding-left: 3px;
}

/*content*/



/*footer*/

